In [1]:
# Initial imports
import pandas as pd

In [2]:
# Load the NBA-playerlist.csv dataset.
file_path = "../SourceData/NBA-playerlist.csv"
playerlist_full_df = pd.read_csv(file_path)
playerlist_full_df .head()

,Unnamed: 0,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,FROM_YEAR,GAMES_PLAYED_FLAG,OTHERLEAGUE_EXPERIENCE_CH,PERSON_ID,PLAYERCODE,ROSTERSTATUS,TEAM_ABBREVIATION,TEAM_CITY,TEAM_CODE,TEAM_ID,TEAM_NAME,TO_YEAR
0,0,Alaa Abdelnaby,"Abdelnaby, Alaa",1990,Y,0,76001,HISTADD_alaa_abdelnaby,0,NaN,NaN,NaN,0,NaN,1994
1,1,Zaid Abdul-Aziz,"Abdul-Aziz, Zaid",1968,Y,0,76002,HISTADD_zaid_abdul-aziz,0,NaN,NaN,NaN,0,NaN,1977
2,2,Kareem Abdul-Jabbar,"Abdul-Jabbar, Kareem",1969,Y,0,76003,HISTADD_kareem_abdul-jabbar,0,NaN,NaN,NaN,0,NaN,1988
3,3,Mahmoud Abdul-Rauf,"Abdul-Rauf, Mahmoud",1990,Y,0,51,mahmoud_abdul-rauf,0,NaN,NaN,NaN,0,NaN,2000
4,4,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",1997,Y,0,1505,tariq_abdul-wahad,0,NaN,NaN,NaN,0,NaN,2003

In [3]:
# Create a new DataFrame that holds only the Player Name Columns (keepting both, just in case)
# FROM_YEAR and TO_YEAR fields

career_duration_df = playerlist_full_df[['DISPLAY_FIRST_LAST', 'DISPLAY_LAST_COMMA_FIRST', 'FROM_YEAR', 'TO_YEAR' ]].copy()
career_duration_df.head()

    DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  FROM_YEAR  TO_YEAR
0       Alaa Abdelnaby          Abdelnaby, Alaa       1990     1994
1      Zaid Abdul-Aziz         Abdul-Aziz, Zaid       1968     1977
2  Kareem Abdul-Jabbar     Abdul-Jabbar, Kareem       1969     1988
3   Mahmoud Abdul-Rauf      Abdul-Rauf, Mahmoud       1990     2000
4    Tariq Abdul-Wahad       Abdul-Wahad, Tariq       1997     2003

In [4]:
# Keep only records for players drafted from 1980 forward.
career_duration_df=career_duration_df[career_duration_df['FROM_YEAR'] >= 1980]
career_duration_df.head()

    DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  FROM_YEAR  TO_YEAR
0       Alaa Abdelnaby          Abdelnaby, Alaa       1990     1994
3   Mahmoud Abdul-Rauf      Abdul-Rauf, Mahmoud       1990     2000
4    Tariq Abdul-Wahad       Abdul-Wahad, Tariq       1997     2003
5  Shareef Abdur-Rahim     Abdur-Rahim, Shareef       1996     2007
9         Alex Abrines            Abrines, Alex       2016     2018

In [5]:
# Identify incomplete rows
career_duration_df.count()

DISPLAY_FIRST_LAST          2809
DISPLAY_LAST_COMMA_FIRST    2809
FROM_YEAR                   2809
TO_YEAR                     2809
dtype: int64

In [6]:
# Check datatypes
career_duration_df.dtypes

DISPLAY_FIRST_LAST          object
DISPLAY_LAST_COMMA_FIRST    object
FROM_YEAR                    int64
TO_YEAR                      int64
dtype: object

In [7]:
# Convert Player column to String
career_duration_df['DISPLAY_FIRST_LAST'] = career_duration_df['DISPLAY_FIRST_LAST'].astype(str)
career_duration_df.head()

    DISPLAY_FIRST_LAST DISPLAY_LAST_COMMA_FIRST  FROM_YEAR  TO_YEAR
0       Alaa Abdelnaby          Abdelnaby, Alaa       1990     1994
3   Mahmoud Abdul-Rauf      Abdul-Rauf, Mahmoud       1990     2000
4    Tariq Abdul-Wahad       Abdul-Wahad, Tariq       1997     2003
5  Shareef Abdur-Rahim     Abdur-Rahim, Shareef       1996     2007
9         Alex Abrines            Abrines, Alex       2016     2018

In [8]:
# Create Unique Identifier Field - Concatination of Name and Draft Year
# Converted to All Upper Case, All Punctuation and Spaces Stripped
career_duration_df['GUID'] = career_duration_df['DISPLAY_FIRST_LAST'] + career_duration_df['FROM_YEAR'].astype(str)

# Strip out Single Quote/Apostrophe Characters, Commas, and Periods
career_duration_df['GUID'] = career_duration_df['GUID'].str.replace(r'[^\w\s]+', '')

# Strip out spaces
career_duration_df['GUID'].replace('\s+', '', regex=True,inplace=True)


#rookies_df['GUID'] = rookies_df['GUID'].astype(str)
#rookies_df['GUID'].to_string()

#Convert to Upper Case
career_duration_df['GUID'] = career_duration_df['GUID'].str.upper()

career_duration_df.head(100)

C:\Users\18177\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,FROM_YEAR,TO_YEAR,GUID
0,Alaa Abdelnaby,"Abdelnaby, Alaa",1990,1994,ALAAABDELNABY1990
3,Mahmoud Abdul-Rauf,"Abdul-Rauf, Mahmoud",1990,2000,MAHMOUDABDULRAUF1990
4,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",1997,2003,TARIQABDULWAHAD1997
5,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",1996,2007,SHAREEFABDURRAHIM1996
9,Alex Abrines,"Abrines, Alex",2016,2018,ALEXABRINES2016
...,...,...,...,...,...
120,Trevor Ariza,"Ariza, Trevor",2004,2018,TREVORARIZA2004
122,Joe Arlauckas,"Arlauckas, Joe",1987,1987,JOEARLAUCKAS1987
123,B.J. Armstrong,"Armstrong, B.J.",1989,1999,BJARMSTRONG1989
125,Brandon Armstrong,"Armstrong, Brandon",2001,2003,BRANDONARMSTRONG2001
126,Darrell Armstrong,"Armstrong, Darrell",1994,2007,DARRELLARMSTRONG1994

In [9]:
# Calculate Career Duration (TO_YEAR - FROM YEAR)
# I cross-referenced a number of players with a YEARS_PLAYED of 0 
# and they don't appear to have actually appeared in any games
career_duration_df['Years_Played'] = career_duration_df['TO_YEAR'] - career_duration_df['FROM_YEAR'] +1
career_duration_df.head(50)

,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,FROM_YEAR,TO_YEAR,GUID,Years_Played
0,Alaa Abdelnaby,"Abdelnaby, Alaa",1990,1994,ALAAABDELNABY1990,5
3,Mahmoud Abdul-Rauf,"Abdul-Rauf, Mahmoud",1990,2000,MAHMOUDABDULRAUF1990,11
4,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",1997,2003,TARIQABDULWAHAD1997,7
5,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",1996,2007,SHAREEFABDURRAHIM1996,12
9,Alex Abrines,"Abrines, Alex",2016,2018,ALEXABRINES2016,3
10,Alex Acker,"Acker, Alex",2005,2008,ALEXACKER2005,4
12,Mark Acres,"Acres, Mark",1987,1992,MARKACRES1987,6
14,Quincy Acy,"Acy, Quincy",2012,2018,QUINCYACY2012,7
17,Hassan Adams,"Adams, Hassan",2006,2008,HASSANADAMS2006,3
18,Jaylen Adams,"Adams, Jaylen",2018,2018,JAYLENADAMS2018,1
19,Jordan Adams,"Adams, Jordan",2014,2015,JORDANADAMS2014,2
20,Michael Adams,"Adams, Michael",1985,1995,MICHAELADAMS1985,11
21,Steven Adams,"Adams, Steven",2013,2018,STEVENADAMS2013,6
22,Rafael Addison,"Addison, Rafael",1986,1996,RAFAELADDISON1986,11
23,Bam Adebayo,"Adebayo, Bam",2017,2018,BAMADEBAYO2017,2
24,Deng Adel,"Adel, Deng",2018,2018,DENGADEL2018,1
26,Jeff Adrien,"Adrien, Jeff",2010,2014,JEFFADRIEN2010,5
27,Arron Afflalo,"Afflalo, Arron",2007,2017,ARRONAFFLALO2007,11
28,Maurice Ager,"Ager, Maurice",2006,2010,MAURICEAGER2006,5
29,Mark Aguirre,"Aguirre, Mark",1981,1993,MARKAGUIRRE1981,13
30,Blake Ahearn,"Ahearn, Blake",2007,2011,BLAKEAHEARN2007,5
31,Danny Ainge,"Ainge, Danny",1981,1994,DANNYAINGE1981,14
32,Alexis Ajinca,"Ajinca, Alexis",2008,2017,ALEXISAJINCA2008,10
34,Josh Akognon,"Akognon, Josh",2012,2012,JOSHAKOGNON2012,1
35,DeVaughn Akoon-Purcell,"Akoon-Purcell, DeVaughn",2018,2018,DEVAUGHNAKOONPURCELL2018,1
36,Solomon Alabi,"Alabi, Solomon",2010,2011,SOLOMONALABI2010,2
37,Mark Alarie,"Alarie, Mark",1986,1990,MARKALARIE1986,5
39,Furkan Aldemir,"Aldemir, Furkan",2014,2014,FURKANALDEMIR2014,1
40,Cole Aldrich,"Aldrich, Cole",2010,2017,COLEALDRICH2010,8
41,LaMarcus Aldridge,"Aldridge, LaMarcus",2006,2018,LAMARCUSALDRIDGE2006,13
42,Chuck Aleksinas,"Aleksinas, Chuck",1984,1984,CHUCKALEKSINAS1984,1
43,Cliff Alexander,"Alexander, Cliff",2015,2015,CLIFFALEXANDER2015,1
44,Cory Alexander,"Alexander, Cory",1995,2004,CORYALEXANDER1995,10
45,Courtney Alexander,"Alexander, Courtney",2000,2003,COURTNEYALEXANDER2000,4
46,Gary Alexander,"Alexander, Gary",1993,1993,GARYALEXANDER1993,1
47,Joe Alexander,"Alexander, Joe",2008,2009,JOEALEXANDER2008,2
48,Victor Alexander,"Alexander, Victor",1991,2001,VICTORALEXANDER1991,11
49,Steve Alford,"Alford, Steve",1987,1990,STEVEALFORD1987,4
50,Rawle Alkins,"Alkins, Rawle",2018,2018,RAWLEALKINS2018,1
52,Grayson Allen,"Allen, Grayson",2018,2018,GRAYSONALLEN2018,1
53,Jarrett Allen,"Allen, Jarrett",2017,2018,JARRETTALLEN2017,2
54,Jerome Allen,"Allen, Jerome",1995,1996,JEROMEALLEN1995,2
55,Kadeem Allen,"Allen, Kadeem",2017,2018,KADEEMALLEN2017,2
56,Lavoy Allen,"Allen, Lavoy",2011,2016,LAVOYALLEN2011,6
58,Malik Allen,"Allen, Malik",2001,2010,MALIKALLEN2001,10
59,Randy Allen,"Allen, Randy",1988,1989,RANDYALLEN1988,2
60,Ray Allen,"Allen, Ray",1996,2013,RAYALLEN1996,18
61,Tony Allen,"Allen, Tony",2004,2017,TONYALLEN2004,14
63,Lance Allred,"Allred, Lance",2007,2007,LANCEALLRED2007,1
64,Darrell Allums,"Allums, Darrell",1980,1980,DARRELLALLUMS1980,1

In [10]:
# Calculate HOF Elgibility Year (TO_YEAR + 5)
# It appears that a player currently has to have been retired 4 full seasons 
# and is elgible begining the 5th season after their retirement
career_duration_df['HOF_Elgibility_Year'] = career_duration_df['TO_YEAR'] +5
career_duration_df.head(50)

,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,FROM_YEAR,TO_YEAR,GUID,Years_Played,HOF_Elgibility_Year
0,Alaa Abdelnaby,"Abdelnaby, Alaa",1990,1994,ALAAABDELNABY1990,5,1999
3,Mahmoud Abdul-Rauf,"Abdul-Rauf, Mahmoud",1990,2000,MAHMOUDABDULRAUF1990,11,2005
4,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",1997,2003,TARIQABDULWAHAD1997,7,2008
5,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",1996,2007,SHAREEFABDURRAHIM1996,12,2012
9,Alex Abrines,"Abrines, Alex",2016,2018,ALEXABRINES2016,3,2023
10,Alex Acker,"Acker, Alex",2005,2008,ALEXACKER2005,4,2013
12,Mark Acres,"Acres, Mark",1987,1992,MARKACRES1987,6,1997
14,Quincy Acy,"Acy, Quincy",2012,2018,QUINCYACY2012,7,2023
17,Hassan Adams,"Adams, Hassan",2006,2008,HASSANADAMS2006,3,2013
18,Jaylen Adams,"Adams, Jaylen",2018,2018,JAYLENADAMS2018,1,2023
19,Jordan Adams,"Adams, Jordan",2014,2015,JORDANADAMS2014,2,2020
20,Michael Adams,"Adams, Michael",1985,1995,MICHAELADAMS1985,11,2000
21,Steven Adams,"Adams, Steven",2013,2018,STEVENADAMS2013,6,2023
22,Rafael Addison,"Addison, Rafael",1986,1996,RAFAELADDISON1986,11,2001
23,Bam Adebayo,"Adebayo, Bam",2017,2018,BAMADEBAYO2017,2,2023
24,Deng Adel,"Adel, Deng",2018,2018,DENGADEL2018,1,2023
26,Jeff Adrien,"Adrien, Jeff",2010,2014,JEFFADRIEN2010,5,2019
27,Arron Afflalo,"Afflalo, Arron",2007,2017,ARRONAFFLALO2007,11,2022
28,Maurice Ager,"Ager, Maurice",2006,2010,MAURICEAGER2006,5,2015
29,Mark Aguirre,"Aguirre, Mark",1981,1993,MARKAGUIRRE1981,13,1998
30,Blake Ahearn,"Ahearn, Blake",2007,2011,BLAKEAHEARN2007,5,2016
31,Danny Ainge,"Ainge, Danny",1981,1994,DANNYAINGE1981,14,1999
32,Alexis Ajinca,"Ajinca, Alexis",2008,2017,ALEXISAJINCA2008,10,2022
34,Josh Akognon,"Akognon, Josh",2012,2012,JOSHAKOGNON2012,1,2017
35,DeVaughn Akoon-Purcell,"Akoon-Purcell, DeVaughn",2018,2018,DEVAUGHNAKOONPURCELL2018,1,2023
36,Solomon Alabi,"Alabi, Solomon",2010,2011,SOLOMONALABI2010,2,2016
37,Mark Alarie,"Alarie, Mark",1986,1990,MARKALARIE1986,5,1995
39,Furkan Aldemir,"Aldemir, Furkan",2014,2014,FURKANALDEMIR2014,1,2019
40,Cole Aldrich,"Aldrich, Cole",2010,2017,COLEALDRICH2010,8,2022
41,LaMarcus Aldridge,"Aldridge, LaMarcus",2006,2018,LAMARCUSALDRIDGE2006,13,2023
42,Chuck Aleksinas,"Aleksinas, Chuck",1984,1984,CHUCKALEKSINAS1984,1,1989
43,Cliff Alexander,"Alexander, Cliff",2015,2015,CLIFFALEXANDER2015,1,2020
44,Cory Alexander,"Alexander, Cory",1995,2004,CORYALEXANDER1995,10,2009
45,Courtney Alexander,"Alexander, Courtney",2000,2003,COURTNEYALEXANDER2000,4,2008
46,Gary Alexander,"Alexander, Gary",1993,1993,GARYALEXANDER1993,1,1998
47,Joe Alexander,"Alexander, Joe",2008,2009,JOEALEXANDER2008,2,2014
48,Victor Alexander,"Alexander, Victor",1991,2001,VICTORALEXANDER1991,11,2006
49,Steve Alford,"Alford, Steve",1987,1990,STEVEALFORD1987,4,1995
50,Rawle Alkins,"Alkins, Rawle",2018,2018,RAWLEALKINS2018,1,2023
52,Grayson Allen,"Allen, Grayson",2018,2018,GRAYSONALLEN2018,1,2023
53,Jarrett Allen,"Allen, Jarrett",2017,2018,JARRETTALLEN2017,2,2023
54,Jerome Allen,"Allen, Jerome",1995,1996,JEROMEALLEN1995,2,2001
55,Kadeem Allen,"Allen, Kadeem",2017,2018,KADEEMALLEN2017,2,2023
56,Lavoy Allen,"Allen, Lavoy",2011,2016,LAVOYALLEN2011,6,2021
58,Malik Allen,"Allen, Malik",2001,2010,MALIKALLEN2001,10,2015
59,Randy Allen,"Allen, Randy",1988,1989,RANDYALLEN1988,2,1994
60,Ray Allen,"Allen, Ray",1996,2013,RAYALLEN1996,18,2018
61,Tony Allen,"Allen, Tony",2004,2017,TONYALLEN2004,14,2022
63,Lance Allred,"Allred, Lance",2007,2007,LANCEALLRED2007,1,2012
64,Darrell Allums,"Allums, Darrell",1980,1980,DARRELLALLUMS1980,1,1985

In [11]:
# Set new index and drop existing index
career_duration_df.set_index('GUID')

,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,FROM_YEAR,TO_YEAR,Years_Played,HOF_Elgibility_Year
GUID,,,,,,
ALAAABDELNABY1990,Alaa Abdelnaby,"Abdelnaby, Alaa",1990,1994,5,1999
MAHMOUDABDULRAUF1990,Mahmoud Abdul-Rauf,"Abdul-Rauf, Mahmoud",1990,2000,11,2005
TARIQABDULWAHAD1997,Tariq Abdul-Wahad,"Abdul-Wahad, Tariq",1997,2003,7,2008
SHAREEFABDURRAHIM1996,Shareef Abdur-Rahim,"Abdur-Rahim, Shareef",1996,2007,12,2012
ALEXABRINES2016,Alex Abrines,"Abrines, Alex",2016,2018,3,2023
...,...,...,...,...,...,...
STEPHENZIMMERMAN2016,Stephen Zimmerman,"Zimmerman, Stephen",2016,2016,1,2021
PAULZIPSER2016,Paul Zipser,"Zipser, Paul",2016,2017,2,2022
ANTEZIZIC2017,Ante Zizic,"Zizic, Ante",2017,2018,2,2023
JIMZOET1982,Jim Zoet,"Zoet, Jim",1982,1982,1,1987
IVICAZUBAC2016,Ivica Zubac,"Zubac, Ivica",2016,2018,3,2023

In [12]:
# Export to CSV
#export_path = "Resources/draft_position.csv"
#career_duration_df.to_csv(export_path)

In [13]:
# import the necessary packages
import psycopg2
from sqlalchemy import create_engine
  
# Create the engine to connect to the database 
engine = create_engine(
    'postgresql+psycopg2://postgres:tC1sfkNBaUqSH4noRcz6@nba-hof-project.cxpeww6dbftb.us-east-2.rds.amazonaws.com:5432/postgres')

# Write data into the table in database
career_duration_df.to_sql('new_career_duration', engine)